.body{
    background-color: lightblue;
}

.subBody{
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 20px;

}

.top{
    background-color: lightyellow;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border: 2px solid #333333;
    width: 650px;
}




.pic_box{
    background-color: lightsalmon;

    width: 300px;
    height: 200px;
    border: 2px solid #333333;
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .profile_pic{
        border-radius: 50%;
        height: 180px;

    }


.info_box {
    background-color: lightgreen;

    width: 300px;
    height: auto;
    border: 2px solid #333333;
    padding: 5px;
    margin: 15px;
    box-sizing: border-box;
}
    .info_body{
        background-color: lightpink;
        width: auto;
        height: 120px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        line-height: 1.4;
        text-align: center;
    }

.getDone_box {
    background-color: lightslategray;

    width: 600px;
    height: auto;
    border: 2px solid #333333;
    padding: 5px;
    margin: 15px;
    box-sizing: border-box;
}
    .heading{
        text-align: center;
    }

    .goal_info{
        background: beige;
        width: auto;
        height: auto;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        line-height: 25px;
        padding: 4px;
        margin: 2px;
        border: 2px solid #333333;

    }

.bottom{
    background-color: lightslategray;
    height: auto;
    width: 650px;
    display: flex;
    flex-direction: row;
    border: 2px solid #333333;

}
.video_box {
    background-color: lightpink;
    width: auto;
    height: auto;
    border: 2px solid #333333;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 50px;

}
    .video_button{
        width: auto;
        height: auto;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cam_pic{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    .Spacer{
      flex: 1;
    }
.trainingLog_box {
    background-color: cyan;
    width: auto;
    height: auto;
    border: 2px solid #333333;
    padding: 5px;
    margin: 5px;
    margin-left: 25px;
    box-sizing: border-box;
    border-radius: 50px;
}
    .TrainingLog_button{
        width: auto;
        height: auto;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .notebook_pic{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    }

.AthleteForm {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background: rgba(0, 0, 0, 0.7);

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 1000;
    }

    .AthletePopUpForm {
        width: 90%;
        max-width: 900px;
        height: 90%;
        max-height: 800px;
    }

    .CloseBut {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
    }

    .Iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

